{% extends 'base.html.twig' %}

{% block title %}Edit Role{% endblock %}

{% block body %}
    <div class="full-screen-container" style=" margin-left: 300px;margin-right: 30px;">
        <div class="full-screen-container">
            <h1 class="bold-red-text">Role edit</h1>
        </div>
        <h1 class="bold-red-text">Role edit</h1>

    {{ include('role/_form.html.twig', {'button_label': 'Update'}) }}

    <br>
    <form method="post" action="{{ path('app_role_delete', {'id': role.id}) }}" style="display:inline-block" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
        <a href="{{ path('app_role_index') }}" class="btn btn-success btn-lg rounded-pill"><i class="bi bi-arrow-return-left " aria-hidden="true"></i>back to list</a>
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ role.id) }}">
        <button class="btn btn-danger btn-lg rounded-pill"><i class="bi bi-trash " aria-hidden="true"></i> Delete</button>
    </form>
</div>

{% endblock %}
